/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

#index-banner {
  background-image: url("../images/banner.png"); /* The image used */
  background-color: #ffffff; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.navbar-img-logo {
  height: 48px;
  margin-right: 0.7rem;
}

.fa{
  color: #000;
}

footer .fa{
  color: #fff;
}